.todo-container {
    display: flex;
    width: 100%;
    padding: 4px;

    border-radius: 7px;
    background: #F4F8FF;
};

.todo {
    width: 100%;
    padding: 10px;

    border-radius: 7px;
    background: #FFF;
    box-shadow: 0px 1px 2px 0px #D0DAEB, 0px 0px 2px 0px #EEF4FE;

    &__header {
        margin-bottom: 8px;
        clear: both;

        font-family: Segoe UI;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 130%;
        color: #3D8FEC;

        display: -moz-box;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        box-orient: vertical;
        -moz-box-orient: vertical;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    };

    &__checkbox {
        float: left;
        margin: 3px 6px 0 0;
    }

    &__header-text {
        margin: 0;
    }

    &__dates {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        font-family: Segoe UI;
        font-size: 13px;
        font-weight: 600;
        line-height: 140%;
        color: #50B810;
    }

    &__description {
        margin: 5px 0 10px;

        font-family: Segoe UI;
        font-size: 13px;
        font-weight: 400;
        line-height: 140%;
        color: #555;

        display: -moz-box;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        line-clamp: 1;
        box-orient: vertical;
        -moz-box-orient: vertical;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__tags {
        display: flex;
        align-items: center;
        gap: 4px;
    }

    &__first-tag {
        padding: 1px 6px 2px 6px;

        font-family: Segoe UI;
        font-size: 12px;
        font-weight: 600;
        line-height: 140%;
        color: #FFF;

        border-radius: 4px;
        background: #B233A6;
    }

    &__last-tag-container {
        display: flex;

        &::after {
            content: '';
            display: inline-block;
            width: 11px;
            background: url(../../assets/img/rectangle.svg) no-repeat;
        }
    }

    &__last-tag {
        padding: 1px 0px 2px 6px;

        font-family: Segoe UI;
        font-size: 12px;
        font-weight: 600;
        line-height: 140%;
        color: #616C82;

        border-radius: 4px 0px 0px 4px;
        background: #EBEEF6;
    }
}